# Compiler files
/backend/cache/
/backend/out/

# Ignores development broadcast logs
/backend/broadcast/

# Docs
docs/

# Dotenv file
.env

.DS_Store
.vscode
.prettierignore
.prettierrc.json
.solhint.json